<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- http://getbootstrap.com/docs/5.3/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <header class="p-3">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <h1 class="fs-3 fw-bold m-0 text-white">Faceswapper  </h1>
          </a>
          
          {% if session["user_id"] %}   
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="btn me-2">SWAP FACES</a></li>
            <li><a href="/biometric" class="btn me-2">CHECK AGE</a></li>
            <li>
              <form id="clear" action="/clear" method="post">
                <button class="btn btn-primary me-2" type="submit">CLEAR MY DATA</button>
              </form>
            </li>
          </ul>
            <a type="button" class="btn btn-outline-light me-2" href="/logout">LOG OUT</a>
    
          {%else%}
    
          <div class="text-end">
            <a type="button" class="btn btn-outline-light me-2" href="/login">LOG IN</a>
            <a type="button" class="btn btn-light" href="/signup">SIGN UP</a>
          </div>
          {%endif%}
        </div>
      </div>
    </header>
    <div class="container">
      {% if error %}
        <div class="alert alert-warning" role="alert">
          {{ error }}
        </div>
      {% endif %}
      {% block main %}
      {% endblock %}
    </div>
    <br/>
    <script src="static/scripts.js"></script>
  </body>