{% extends "layout.html" %}

{% block title %}
    Where is my book
{% endblock %}

{% block main %}

<div class="container-box">
    <form action="/signup" method="post">
        <div class="mb-3">
            <h1 class="text-center">Register</h1>
            <br/>
        </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" id="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" id="password" placeholder="Password" type="password" onblur="validatePassword()">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirmation" id="confirmation" placeholder="Confirm password" type="password" onblur="checkIfPasswordsAreMatching()">
    </div>
    <div class="text-center">
        <button class="btn btn-primary w-auto" type="submit">Sign up</button>
      </div>
    
    </form>
</div>
{% endblock %}